*{
    color: #fff;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.nav-menu{
    width: 100%;
    height: 70px;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 2rem;
}
.nav-menu i{
    font-size: 1.75rem;
    color: #ff2424;
    background-color: #000;
}
.nav-menu img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #000;
}
.nav-menu .btn{
    padding: .5rem 1.5rem;
    border: none;
    outline: 0;
    background-color: #ff2424;
    border-radius: .2rem;
    font-size: 1.25rem;
}
.nav-menu .search{
    background-color: #282626;
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .25rem;
}
.nav-menu .search form{
    width: 100%;
    height: 40px;
    padding: 0rem .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .25rem;
}
.nav-menu .search i{
    background-color: #282626;
    font-size: 1.25rem;
    margin: 1rem;
    opacity: 0.4;
}
.nav-menu .search #search-input{
    background-color: #282626;
    width: 100%;
    height: 100%;
    border: none;
    outline: 0;
    border-radius: .25rem;
}
.nav-menu .search #search-input::placeholder{
    font-size: 1rem;
}
.home-container{
    width: 100%;
    display: flex;

}

.side-bar{
    display: block;
    background-color: #000;
    width: 350px;
    height: 100vh;
    padding: .5rem;
    text-align: center;
    overflow-y: scroll;
    scrollbar-width: none;
}
.side-bar.nav-toggle {
    display: none;
}

.side-bar .logo-info{
    padding-bottom: 1rem;
    text-align: center;
    border-bottom: 2px solid #282626;
}
.side-bar .logo-info h3{
    margin: .5rem 0rem;
}
.side-bar .logo-info h4{
    color: #ff2424;
}
.side-bar .links{
    padding: 1rem 1rem;
    border-bottom: 2px solid #282626;
    text-align: start;
}
.side-bar .links ul li{
    list-style: none;
    padding: .5rem 0rem .5rem .25rem;
    margin: .25rem .25rem .25rem 0rem;
    
}
.main-content{
    width: 100%;
    height: 100vh;
    background-color: #282626;
    padding: 1rem;
    overflow-y: scroll;
    scrollbar-width: none;
}
.main-content img{
    width: 100%;
    height: 300px;
    border-radius: .75rem;
}
.home-container .menu{
    margin: 1rem 0rem;
}
.menu h3{
    margin: 1rem 0rem;
    font-size: 1.5rem;
}
.menu #menu-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1.5rem;
}
.menu #menu-cards .card{
    background-color: #000;
    border-radius: .75rem;
    padding: .5rem;
}
.menu #menu-cards .card img{
    width: 330px;
    height: 270px;
}
.menu #menu-cards .card .menu-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu #menu-cards .card .btn{
    padding: .5rem;
    background-color: #282626;
    outline: 0;
    border: none;
    border-radius: .25rem;
    font-size: 1.25rem;
}
.menu #menu-cards .card .info h3{
    margin: .25rem 0rem;
}







